<html>
<head>
	<style type="text/css" media="screen">
		body { background-color: #fff; color: #333; }

	body, p, ol, ul, td {
  	font-family: verdana, arial, helvetica, sans-serif;
  	font-size:   13px;
  	line-height: 18px;
	}
	
	
	
	
	#nonstampabile {display:block ; float:right}
		
	</style>
	<style type="text/css" media="print">
				body { background-color: #fff; color: #333; }

	body, p, ol, ul, td {
  	font-family: verdana, arial, helvetica, sans-serif;
  	font-size:   13px;
  	line-height: 18px;
	}
		#nonstampabile {display:none}
	</style>
</head>
<body>

	<div id="header" style="border-bottom:1px solid;">
		<a href="http://code.google.com/p/django-ids/" style="text-decoration:none">	
	
	<h1 style="font-size:450%;">
	<span style="color:#092E20">DJANGO</span><span style="color:#FFE761; background:#092E20">IDS</span>
</h1>
</a>
	</div>
	
<div id="container">
<h2>HoneyPot page to test signature</h2>
		<form action="/honeypot/" method="POST">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

		
	</body>
</html>